.placeholder-white::placeholder {
    color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-bg-color {
    background: #0c0d0e !important;
}